<html>
	<head>
		<title><%= @title %></title>
	</head>
	<body>
		<h1><%= @headline %></h1>
		<p><%= @paragraph %></p>

		<% @posts.each do |post| %>
		    <h2><%= post.title %></h2>
		    <p><%= post.body %></p>
		<% end %>
	</body>
</html>